.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  padding-bottom: 2rem;
}

.link-blog-entry {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: white;
  min-height: 375px;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: none;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 5px 5px 25px 0px rgb(255, 255, 255);
}

.card:active {
  box-shadow: none;
}

.card-image {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__body-heading {
  font-size: 1.55rem;
  text-transform: capitalize;
}

.card__body > p {
  font-size: 1.25rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 1rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}
