.footer-icons {
  display: flex;
  justify-content: center;
  line-height: 0.5;
  list-style: none;
}
.footer-icons a {
  margin: 0 2.5rem;
  transition: all 0.3s linear;
}
.footer-icons li {
  transition: all 0.3s linear;
}
.footer-icons li:hover {
  transform: translateY(-10%);
}
.icon {
  width: 2rem;
  padding: 1rem 0;
}
