/*
For latest screen size data - https://gs.statcounter.com/screen-resolution-stats
0-600px             Phone
600-900px           Tablet in Portrait Mode
900-1200px          Tablet in Lanscape Mode
1200-1800px         Where our normal styles apply - desktop first approach (max-width)
1800px +            Big Desktop
Breakpoint Argument Choices
phone
tab-port
tab-land
big-desk
1em = 16px using ems per research https://zellwk.com/blog/media-query-units/

Order of attack: Base + Typography> General layout + Grid> Components 

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  1000% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  1000% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  1000% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*converts box sizing to inheritable which is applied to body and thus to all below*/
}

html {
  font-size: 62.5%;
  /*Set root font size 62.5% of root font size which normally is 16 sets our root font size to 10px to 
                        make calculations easy, yet allow the user to change fontsize in the browser. Defines what 1rem is*/
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary {
    color: #333;
  }
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
  animation: moveInLeft 1s ease-out;
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 1.3;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-transform: lowercase;
  /* animation-delay: 0.5s; */
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 300;
  }
}
.heading-primary--sub-emphasis {
  color: red;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  /* set relative so after psuedoclass can have absolute positioning relaive to it */
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.8);
  opacity: 0;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  text-align: center;
  background-image: radial-gradient(#fffa17, #ff9376);
  box-shadow: 0 0rem 3rem #ff9376;
  cursor: pointer;
  z-index: 2000;
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-image: radial-gradient(
    rgba(255, 250, 23, 0.95),
    rgba(255, 147, 118, 0.95)
  );
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  z-index: 1000;
  transition: transform 0.5s;
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__list {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 2rem;
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%,
    #fff 100%
  );
  background-size: 220%;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #7ed56f;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(120);
  box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
    20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
    13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
    -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
    -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #ff9376;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.3s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon:before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  transform: rotate(-135deg);
  top: 0;
}

.header {
  height: 95vh;
  background-image: url(../img/Front.jpg);
  background-size: cover;
  background-attachment: fixed; /* allows scrolling of background. No IOS support*/
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  box-shadow: 0 2rem 4rem black;
}
@media only screen and (max-width: 37.5em) {
  .header {
    background-size: 250%; /* adjust for ios */
    background-position: -25% top;
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em),
  (-webkit-min-device-pixel-ration: 2) and (min-width: 37.5em),
  (min-width: 112.5em) {
  .header {
    background-image: url(../img/Front@1x.jpg);
  }
}
.header__logos-box {
  margin-top: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .header__logos-box {
    margin-top: 2rem;
  }
}
.header__logo-box {
  display: inline-block;
}
.header__logo-html {
  height: 10vw;
}
.header__text-box {
  position: absolute;
  top: 45%;
  left: 58%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .header__text-box {
    top: 70%;
    padding: 0 1rem;
    border-radius: 3rem;
    background-color: rgba(247, 247, 247, 0.7);
  }
}

.section-about {
  height: 100rem;
  background-color: blue;
}
