@import url(./typography.css);
@import url(./nav.css);
@import url(./animation.css);
@import url(./hero.css);

@import url(./social-links.css);
@import url(./quote.css);
@import url(./cards.css);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*converts box sizing to inheritable which is applied to body and thus to all below*/
}

html {
  font-size: 62.5%;
  /*Set root font size 62.5% of root font size which normally is 16 sets our root font size to 10px to 
                        make calculations easy, yet allow the user to change fontsize in the browser. Defines what 1rem is*/
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}
.container {
  width: 100%;
}

/* -----------Hero start Hero------------------ */

/* -----------end Hero------------------ */
/* -----------start About------------------ */

.about {
  margin-top: -10vh;
  /* height: 1000px; */
  background-image: url(../img/bkg/about_bkg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10vh;
}

.sidebar-card {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}

.title-wrapper {
  position: relative;
  margin-bottom: 2rem;
}
.title-text {
  position: absolute;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  background: #000;
  display: inline-block;
  left: 50%;
  margin-bottom: 0;
  padding: 0 0.6rem;
  border-radius: 5px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.title-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 1.5px;
  transform: translateX(-50%) translateY(-50%);
  background: #00acee;
  z-index: 0;
}

.about-image {
  width: 7rem;
  height: 7rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
}

.about-text {
  text-align: center;
  font-size: 1.3rem;
  color: #324d67;
  margin-top: 2rem;
}

.abobe-callout {
  position: absolute;
  height: 4rem;
  bottom: -5rem;
  right: 3rem;
}

.adobe-icon {
  display: inline-block;
  height: 2.5rem;
}

@media (min-width: 330px) {
  .about-grid {
    grid-template-columns: 1fr 200px;
  }
  .title-text {
    font-size: 0.9rem;
  }
}
@media (min-width: 425px) {
  .about-grid {
    grid-template-columns: 1fr 275px;
  }
  .title-text {
    font-size: 1.25rem;
  }
  .abobe-callout {
    right: 2rem;
    bottom: -4rem;
  }
  .adobe-icon {
    height: 3rem;
  }
}
@media (min-width: 600px) {
  .about-grid {
    grid-template-columns: 1fr 300px;
  }
}
/* -----------end About------------------ */
.blog-preview {
  padding-top: 3em;
  background-image: url(/img/bkg/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg);
  background-size: cover;
  /* height: 1000px; */
}

.footer {
  height: 9rem;
  text-align: center;
  background: #222;
  display: grid;
  place-items: center;
}

.footer p {
  margin-bottom: 0;
  padding-bottom: 2rem;
  /* padding-bottom: 1rem; */
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
